.App {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audiogram-container {
  width: 900px;
  height: 800px;
  cursor: crosshair;
}

@keyframes deniz {
  0% {
    width: 600px;
    height: 600px;
  }
  100% {
    width: 900px;
    height: 900px;
  }
}
